# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Ignoring the idea folder
.idea/
*.iml
# ignoring OSX .DS_STORE files
**/.DS_Store

#Vim undo & swp files
*.un~
*.swp

#Local config
**/config/local.json

#Ignoring nvm config file
.nvmrc

latest.zip
latest.img

display/build-uno/
